@model IDEO.Models.AddViewModel
@{
    ViewBag.Title = "Add";
}

<h3>Dodawanie nowego elementu do struktury.</h3>
<hr />

@using (Html.BeginForm("Add", "Actions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Sukces!</strong> @ViewBag.Message
            </div>
        }
    }
    else
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ParentName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ParentName, new SelectList(ViewBag.test), new { @class = "col-md-2 control-label", @style = "margin-right:10px" })
                @Html.ValidationMessageFor(m => m.ParentName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Dodaj" />
            </div>
        </div>
        if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Błąd! </strong>@ViewBag.Message
            </div>
        }
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}